[Desktop Entry]
Type=Application

Name=Orchestrator
Comment=Kubernetes desktop client
Categories=Development;Network;
Keywords=kubernetes;

Icon=dev.silkepilon.Orchestrator
Exec=orchestrator
Terminal=false